@media screen and (max-width: 768px) {
    .container{
        max-width: 758px;
    }
}
@media screen and  (max-width: 480px) {
    .container{
        max-width: 378px;
    }
    .row{
        flex-wrap: wrap;
    }
    .col{
        padding: 2rem 1rem;
        min-width: 100%;
    }
    h1{
        font-size: 3rem;
    }
}