@media screen and (max-width: 768px) {
    .container{
        max-width: 90%;
    }
}

/* MOBILE*/
@media screen and  (max-width: 480px) {
    .container{
        max-width: 90%;
    }
    .row{
        flex-wrap: wrap;
    }
    .col{
        padding: 2rem 1rem;
        min-width: 100%;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.8rem;
    }
    .why-us{
        padding: 3rem 0;
        background-color: rgb(34, 34, 34);
        margin-top: -3rem;
        margin-bottom: 0;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: bold;
    }
}